table {
    max-width: none;
    width: 75% !important;
    margin-left: 5%;
    border-color: #0e0f0f;
  }
  
  table th {
      text-align: center; 
   }
  
   thead{
      background-color: #ee9b1e !important;
      color: white;
   }