.mar-pub{
    width: 100%;
    text-align: center;
	margin-bottom: 2%;
}

.pub-ul>li{
    margin: 0;
	padding: 12px 0px 12px 50px;
    list-style: none;
	background-image: url("diamond.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px;
}

li {
	margin-bottom: 0px;
}