
.ill-orig{
    float: right;
    max-width: 50%;
    position: relative;
    margin: 4%;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ann-tool{
    float: right;
    max-width: 50%;
    position: relative;
    margin: 4%;
    right: 0;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.para > ul > li {
    padding: 5px;
    /* margin-right: 10%; */
}

li > h6 {
    padding: 14px;
}

.mar{
    margin-left: 20%;
}
